@model TechWorld.Models.CustomModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area style2" style="background-image: url(../../Content/images/resources/breadcrumb-bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content-box clearfix">
                    <div class="title-s2 text-center">
                        <h1>Our Services</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul class="clearfix">
                            <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                            <li class="active">SERVICES</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start services style2 Service Page-->
<section class="services-style2-service-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="sec-title">
                    <p>Categories</p>
                    <div class="title">Working <span>Sectors</span></div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="text">
                    <p>We are an Interior Designer, Who believe in excellence, quality and honesty, yes we design beautiful home interiors.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                string path = System.Configuration.ConfigurationManager.AppSettings["ContentImages"];
                foreach (var item in Model.ServicesModel)
                {
                    <!--Start single service style2-->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="single-service-style2 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                            <div class="img-holder">
                                <img src="@Url.Content(path + item.Image)" alt="Awesome Image">
                                <div class="overlay-style-two"></div>
                            </div>
                            <div class="text-holder">
                                <div class="icon-holder">
                                    <span class="icon-concept"></span>
                                </div>
                                <div class="inner">
                                    <h3>@item.Tittle</h3>
                                    <div class="text">
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End single service style2-->
                }
            }
        </div>                   
    </div>
</section>
<!--End services style2 Service Page-->
<!--Start Testimonial Style3 service page-->
<section class="testimonial-style3-service-page">
    <div class="container">
        <div class="sec-title">
            <p>testimonials</p>
            <div class="title">Our Customer <span>Words</span></div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="testimonial-carousel-2 owl-carousel owl-theme">
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-1.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>Z. Gartrell Wright</h3>
                                    <span>Los Angeles</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>"crystalo have done an excellent job presenting the analysis & insights. I am confident in saying have helped encounter is to be welcomed and every pain avoided”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-2.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>H.Sam Danisley</h3>
                                    <span>Newyork City</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>“Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted always holds”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-1.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>Z. Gartrell Wright</h3>
                                    <span>Los Angeles</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>"crystalo have done an excellent job presenting the analysis & insights. I am confident in saying have helped encounter is to be welcomed and every pain avoided”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-2.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>H.Sam Danisley</h3>
                                    <span>Newyork City</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>“Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted always holds”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-1.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>Z. Gartrell Wright</h3>
                                    <span>Los Angeles</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>"crystalo have done an excellent job presenting the analysis & insights. I am confident in saying have helped encounter is to be welcomed and every pain avoided”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                    <!--Start Single Testimonial style2-->
                    <div class="single-testimonial-style3">
                        <div class="inner-content">
                            <div class="client-info">
                                <div class="image">
                                    <img src="~/Content/images/testimonial/testi-style3-2.png" alt="Awesome Image">
                                </div>
                                <div class="title">
                                    <h3>H.Sam Danisley</h3>
                                    <span>Newyork City</span>
                                </div>
                            </div>
                            <div class="text-box">
                                <p>“Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted always holds”.</p>
                            </div>
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Testimonial style2 -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Style3 service page-->